In [2]:
# -*- coding: utf-8 -*-
import pandas as pd
 
if __name__ == "__main__": 
    df = pd.read_csv("loto6-20180329.csv", encoding="cp932",  index_col=0, parse_dates=[1]) 
    
#df
type(df.style)
#df.style.background_gradient(cmap='winter')

#df.plot(subplots=True, layout=(5,4), figsize=(20, 15))

#抽選番号に係るデータだけを使う
df = df.iloc[:, 3:10]
#データ確認
#df.head()

#まずはpandasのmeltを用いて数値を1列の項目に変換
df = pd.melt(df)

df = pd.pivot_table(df, index='value', aggfunc='count')
df.columns = ['frequency']

#データ確認
df.head()

#df.plot.bar(figsize=(8, 6))
#df.sort_values('frequency', ascending=False).plot.bar(ylim=[150, 350], figsize=(8, 6))

       frequency
value
0            265
1            345
2            306
3            217
4            180